/*

████████╗██╗  ██╗███████╗███╗   ███╗███████╗███████╗
╚══██╔══╝██║  ██║██╔════╝████╗ ████║██╔════╝██╔════╝
   ██║   ███████║█████╗  ██╔████╔██║█████╗  ███████╗
   ██║   ██╔══██║██╔══╝  ██║╚██╔╝██║██╔══╝  ╚════██║
   ██║   ██║  ██║███████╗██║ ╚═╝ ██║███████╗███████║
   ╚═╝   ╚═╝  ╚═╝╚══════╝╚═╝     ╚═╝╚══════╝╚══════╝

*/

/*******************************
        Theme Selection
*******************************/

/* To override a theme for an individual element
   specify theme name below
*/

/* Global */
@site       : '7-eleven';
@reset      : '7-eleven';

/* Elements */
@button     : '7-eleven';
@container  : '7-eleven';
@divider    : '7-eleven';
@flag       : '7-eleven';
@header     : '7-eleven';
@icon       : '7-eleven';
@image      : '7-eleven';
@input      : '7-eleven';
@label      : '7-eleven';
@list       : '7-eleven';
@loader     : '7-eleven';
@rail       : '7-eleven';
@reveal     : '7-eleven';
@segment    : '7-eleven';
@step       : '7-eleven';

/* Collections */
@breadcrumb : '7-eleven';
@form       : '7-eleven';
@grid       : '7-eleven';
@menu       : '7-eleven';
@message    : '7-eleven';
@table      : '7-eleven';

/* Modules */
@accordion  : '7-eleven';
@checkbox   : '7-eleven';
@dimmer     : '7-eleven';
@dropdown   : '7-eleven';
@embed      : '7-eleven';
@modal      : '7-eleven';
@nag        : '7-eleven';
@popup      : '7-eleven';
@progress   : '7-eleven';
@rating     : '7-eleven';
@search     : '7-eleven';
@shape      : '7-eleven';
@sidebar    : '7-eleven';
@sticky     : '7-eleven';
@tab        : '7-eleven';
@transition : '7-eleven';

/* Views */
@ad         : '7-eleven';
@card       : '7-eleven';
@comment    : '7-eleven';
@feed       : '7-eleven';
@item       : '7-eleven';
@statistic  : '7-eleven';

/*******************************
            Folders
*******************************/

/* Path to theme packages */
@themesFolder : 'themes';

/* Path to site override folder */
@siteFolder   : 'site/';


/*******************************
         Import Theme
*******************************/

@import "theme.less";

/* End Config */
